In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [4]:
pd

In [5]:
hipandas = pd.Series([1,2,3,4,5])
print(hipandas)
print(hipandas.values)
print(hipandas.index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)

In [6]:
hipandas1 = pd.Series([5,6,8,9,11])
print(hipandas1)
print(hipandas1.values)
print(hipandas1.index)

0     5
1     6
2     8
3     9
4    11
dtype: int64
[ 5  6  8  9 11]
RangeIndex(start=0, stop=5, step=1)

In [7]:
dict1 ={'Taipei':'台北','keelung':'基隆','Taichung':'台中'}

In [8]:
dict1

{'Taipei': '台北', 'keelung': '基隆', 'Taichung': '台中'}

In [9]:
city = pd.Series(dict1)

In [10]:
city

Taipei      台北
keelung     基隆
Taichung    台中
dtype: object

In [11]:
print(city)

Taipei      台北
keelung     基隆
Taichung    台中
dtype: object

In [12]:
print(city.values)

['台北' '基隆' '台中']

In [13]:
print(city.index)

Index(['Taipei', 'keelung', 'Taichung'], dtype='object')

In [14]:
print(city['Taipei'])

台北

In [15]:
print(city['Taichung'])

台中

In [16]:
print(city['keelung'])

基隆

In [17]:
print(city['Taipei':'keelung'])

Taipei     台北
keelung    基隆
dtype: object

In [18]:
print(city['keelung':'Taichung'])

keelung     基隆
Taichung    台中
dtype: object

In [20]:
hipandas[0]
hipandas[1]
hipandas[2]

3

In [21]:
se1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [22]:
se1['a']

1

In [23]:
se1['b']

2

In [24]:
se1['c']

3

In [25]:
df=pd.DataFrame([[65,92,78,83,70],
                 [90,72,76,93,56],
                 [81,85,91,89,77],
                 [79,53,47,94,80]])
df

    0   1   2   3   4
0  65  92  78  83  70
1  90  72  76  93  56
2  81  85  91  89  77
3  79  53  47  94  80

In [26]:
df1 = pd.DataFrame([[65,92,78,83,70],
                    [90,72,76,93,56],
                    [81,85,91,89,77],
                    [79,53,47,94,80]],
                    index =['王小明','李小美','陳大同','林小玉'],
                    columns=['國文','英文','數學','自然','社會'])
df1

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  77
林小玉  79  53  47  94  80

In [27]:
scores = {'國文':{'王小明':65,'李小美':90,'陳大同':81,'林小玉':79},
         '英文':{'王小明':92,'李小美':72,'陳大同':85,'林小玉':53},
         '數學':{'王小明':78,'李小美':76,'陳大同':91,'林小玉':47},
         '自然':{'王小明':83,'李小美':93,'陳大同':89,'林小玉':94},
         '社慧':{'王小明':70,'李小美':56,'陳大同':94,'林小玉':80}}
df2 =pd.DataFrame(scores)
df2

     國文  英文  數學  自然  社慧
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80

In [28]:
se1=pd.Series({'王小明':65,'李小美':90,'陳大同':81,'林小玉':79})
se2=pd.Series({'王小明':92,'李小美':72,'陳大同':85,'林小玉':53})
se3=pd.Series({'王小明':78,'李小美':76,'陳大同':91,'林小玉':47})
se4=pd.Series({'王小明':83,'李小美':93,'陳大同':89,'林小玉':94})
se5=pd.Series({'王小明':70,'李小美':56,'陳大同':94,'林小玉':80})
df3 =pd.DataFrame({'國文':se1,'英文':se2,'數學':se3,'自然':se4,'社會':se5})
df3

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80

In [29]:
se1=pd.Series({'王小明':65,'李小美':90,'陳大同':81,'林小玉':79})
se2=pd.Series({'王小明':92,'李小美':72,'陳大同':85,'林小玉':53})
se3=pd.Series({'王小明':78,'李小美':76,'陳大同':91,'林小玉':47})
se4=pd.Series({'王小明':83,'李小美':93,'陳大同':89,'林小玉':94})
se5=pd.Series({'王小明':70,'李小美':56,'陳大同':94,'林小玉':80})
df4 =pd.concat([se1,se2,se3,se4,se5],axis =1)
df4.columns=['國文','英文','數學','自然','社會']
df4

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80